body{
    color: white;
    text-align: center;
    border: 60px solid rgb(250, 245, 145);
    border-top:0;
    margin: 0;
    background-color:#011627 ;
}
.user-input{
    font-size: 1.5em;
    margin: 10px;
}
p{
    font-size: 30px;
}
label{
    font-size: 1.5em;
}
header{
    font-size: 50px;
}
#sign-up{
    border-radius:20px ;
    font-size: 1.5em;
    width: 20%;
    padding: 2%;
    margin: 1%;
    background-color: aqua;
}