@font-face {
    font-family: "Graphik";
    src: url("./fonts/GraphikRegular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Graphik";
    src: url("./fonts/GraphikBold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'graphik';
}

body {
    margin: 0;
    background-color: #181818;
    padding-top: 2%;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}

.nav-links {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    padding: 10px;
}

.login_btn {
    font-size: 17px;
    /* padding: 20px 46px; */
    text-decoration: none;
    color: white;
}

.login_btn div {
    border: 1px solid white;
    height: 52px;
    width: 139px;
    line-height: 52px;
}

.login_block {
    margin-left: 100px;
}

nav {
    max-width: 65%;
    margin: auto;
}

.right {
    margin-top: 10px;
    float: right;
}

.logo_btn {
    height: 58px;
    float: left;
}

.header_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header_content h1 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 70px;
    margin-top: 50px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.header_content p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.btndiv {
    height: 65px;
    width: 178px;
    border: 1px solid white;
    line-height: 65px;
}

.btn_second div {
    background: #4452FE;
    border: none;
}

.header_buttons {
    margin-top: 80px;
}

.hero_image {
    margin-top: 35%;
    display: block;
    width: 100vw;
    max-width: 99vw;
    padding-top: 605px;
    padding-right: 0px;
    padding-bottom: 605px;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.79) 73%, rgba(0, 0, 0, 0.86) 78%, rgba(0, 0, 0, 0.94) 87%, #000 96%), url("./images/hero_img.png");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, contain;
    background-repeat: repeat, no-repeat;
}

.features {
    color: white;
    margin-top: 100px;
}

.features h2 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 400;
}

.features p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.features_body img {
    height: 600px;
    vertical-align: top;
    display: inline-block;

}

.features_content {
    display: inline-block;
    text-align: left;
}

.features_subheading img {
    width: 26px;
    height: 24px;
    vertical-align: top;
    padding: 10px;
}

.features_subheading {
    margin-bottom: 50px;
}

.features_body {
    padding-top: 60px;
}

.subheading {
    margin: 0;
    display: inline-block;
}

.description {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.contents_header {
    margin-top: 200px;
}

.partners_logo img {
    padding: 20px 1.5%
}

@media(max-width:700px) {
    .header_content h1 {
        font-size: 50px;
    }

    .header_content p {
        font-size: 20px;
    }

    .navlinks_block {
        display: none;
    }
}

@media(max-width:440px) {
    .header_content h1 {
        font-size: 40px;
        margin-top: 100px;
    }

    .header_content p {
        padding-top: 10px;
        font-size: 15px;
    }
}

@media(max-width:440px) {
    .logo_btn {
        width: 100px;
    }

    nav {
        max-width: 97%;
    }
}

@media(max-width:1205px) {
    .login_block {
        margin-left: 20px;
    }
}

@media(max-width:1080px) {
    .login_block {
        margin-left: 5px;
    }

    .nav-links {
        margin-right: 5px;
    }
}

@media(max-width:980px) {

    .contents_row {
        display: block;
    }

    .btn {
        display: block;
    }

    .header_buttons {
        margin-top: 30px;
    }
}

table {
    margin: auto;
}

.contents img {
    padding: 0px 35px 40px 35px;
    display: block;
    width: 300px;

}

.contents h3 {
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 10px;
}

.contents p {
    font-size: 16px;
    color: #5C5C5C;
}

#content_button {
    padding: 20px;
}

.contents {
    display: block;
    margin: 10px;
    color: #000;
    background-color: #D3D3D3;
    border-radius: 10px;
}

footer {
    color: white;
}

footer table tr td p {
    padding-right: 75px;
    font-size: 20px;
}

footer table tr td a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#info_end img {
    vertical-align: middle;
}

#info_end p {
    font-size: 16px;
    display: inline-block;
}

#info_end{
    padding-left: 100px;
}

#social_info img{
    vertical-align: middle;
}

.testimonial_box{
    width: 80%;
    background-color: red;
}

.testimonial_box p{
    font-size: 16px;
}