@font-face {
    font-family: graphik;
    src: url("fonts/GraphikRegular.otf");
}
*{
    background-color: #181818;
    font-family: 'graphik', monospace;
}
nav{
    display: flex;
    max-width: 65%;
    margin: auto;
    margin-top: 37px;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 31px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
nav div{
    margin-top: 3%;  
}
.btn{
    font-size: 17px;
    padding:13.5px 46px;
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
    color: white;

}
.text-box{
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 60%;
    margin: 50px auto;
}
.text-box h1{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    margin-top: 50px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
}
.text-box p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
}
.btn-second
{
    background: #4452FE;
    border: none;
}
.header-btn{
    display: flex;
    order:2;
    gap: 35px;
    justify-content: center;
}
.header-btn a{
    padding: 20px 40px;
}
.dashboard_1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.dashboards  div{
    background:transparent;
}
.dashboards  div img{
    background:transparent;
}
.dashboard_2{
    position: absolute;
    left: -37px;
    top: 892px;
}
.chatbot{
    position: absolute;
    left: 681px;
    top: 873px;
}