*{
    background-color: #181818;
}
nav{
    display: flex;
    max-width: 65%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 31px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav div{
    margin-top: 3%;  
}
nav div a{
    font-size: 17px;
    padding:13.5px 46px;
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    color: white;
    margin: auto;
}
.text-box{
    width: 60%;
    margin: auto;
}
.text-box h1{
    color: white;
    text-align: center;
    font-size: 80px;
    margin-bottom: 27px;
}
.text-box p{
    color: white;
    text-align: center;
    font-size: 20px;
}